/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the body to cover the viewport */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
    font-family: Arial, sans-serif; /* Choose your preferred font */
}

/* Create the background element for the white points */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Background color of the points */
    z-index: -1; /* Place behind other content */
}

/* Create the white dots */
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Generate random white dots */
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Generate random white dots */
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Generate random white dots */
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Generate random white dots */
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Generate random white dots */
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Generate random white dots */
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

/* Style the content area */
.content {
    position: relative;
    z-index: 1; /* Place above the background */
    padding: 20px; /* Adjust padding as needed */
}
